

body{
  font-family:Dancing Script;
  background-color: #02010a;

}


#contenedor{
max-width:900px;
margin:auto;

/* Flexbox */
display:flex;
flex-flow:row wrap;
}
/*estilos encabezado */
header {
 border-radius: 10px 10px 0px 0px;
-moz-border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px;
  background-color: #5b7989;
	width:100%;
  /* Flexbox */
	display: flex;
  flex-direction:row;
	justify-content:space-between;
	align-items:center;
  flex-wrap:wrap;

}
header nav {

  display:flex;
	flex-wrap:wrap;
	align-items:center;
}
header nav a {

	color:black;
	text-decoration: none;
	padding:10px;

	/* Flexbox */
	flex-grow:1;
}
h1{
  color:white;
  text-shadow:2px 2px 2px #02010a ;

}
/* estilos contenido principal*/
.ContenidoPrincial {

  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}
#imgPrincipal{
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  background-color: #82c3a6;
  padding: 20px 0 20px 0;

}
#imgPrincipal img{
  -webkit-box-shadow: 2px 2px 2px 0px rgba(2,1,10,1);
  -moz-box-shadow: 2px 2px 2px 0px rgba(2,1,10,1);
  box-shadow: 2px 2px 2px 0px rgba(2,1,10,1);
}
#imgSecundarias{
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;
  background-color: #d5c75f;
  padding: 20px 0 20px 0;

}
#imgSecundarias img{
  border: solid 1px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(2,1,10,1);
  -moz-box-shadow: 2px 2px 2px 0px rgba(2,1,10,1);
  box-shadow: 2px 2px 2px 0px rgba(2,1,10,1);

}

/* Animaciones de imagenes secundarias */

#imgSec1:hover{
-ms-transform: rotate(10deg); /* IE 9 */
-webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
transform: rotate(10deg);
-webkit-box-shadow: 2px 2px 2px 2px #82c3a6;
-moz-box-shadow: 2px 2px 2px 2px #82c3a6;
box-shadow: 2px 2px 2px 2px #82c3a6;


}

#imgSec2:hover{
transform: translate3d(5px, 0px, 20px);
-webkit-box-shadow: 2px 2px 2px 2px #82c3a6;
-moz-box-shadow: 2px 2px 2px 2px #82c3a6;
box-shadow: 2px 2px 2px 2px #82c3a6;
}

/*Estilos footer */

footer{
border-radius: 0px 0px 10px 10px;
-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;
background-color:  #C6d5c5;
width: 100%;
padding:20px;

/* Flexbox */
display: flex;
flex-wrap:wrap;
justify-content:center;
}

.cajaFooter{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.cajaFooter a{
  text-decoration: none;
  color: black;
}

.cajaFooter li{
  width: 100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  flex-wrap:wrap;

}
/* Estilos pagina paisajes*/
.contenedorPaisajes{
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;


}
#coleccionPaisajes{
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;
  background-color: #d5c75f;
}
#coleccionPaisajes div{
    padding: 20px 0 20px 0;
}
#coleccionPaisajes img{
  -webkit-box-shadow: 2px 2px 2px 0px rgba(2,1,10,1);
  -moz-box-shadow: 2px 2px 2px 0px rgba(2,1,10,1);
  box-shadow: 2px 2px 2px 0px rgba(2,1,10,1);
}
/* estilos para los filtros de las imagenes en las paginas retratos y paisajes*/
#img1 img{
-webkit-filter:blur(10px);
-moz-filter:blur(10px);
filter: blur(10px);
}
#img2,#img4,#img6 img{
-webkit-filter:grayscale(100%);
-moz-filter:grayscale(100%);
filter:grayscale(100%);
}
#img3 img{
-webkit-filter: sepia(90%);
-moz-filter:sepia(90%);
filter: blur(90%);
}

/* estilos de media queries*/













/*Estilos retratos */
.contenedorRetratos{
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}
#coleccionRetratos{
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;
  background-color: #d5c75f;
}
#coleccionRetratos img{
  padding: 20px 0px 20px  0px;
}
